
/csc13001-plant-pos/.vs
/csc13001-plant-pos.Tests.MSTest/obj
/csc13001-plant-pos/bin
/csc13001-plant-pos.Core/bin
/csc13001-plant-pos.Core/obj
/csc13001-plant-pos/obj
/csc13001-plant-pos.Tests.MSTest/bin
/csc13001-plant-pos.Tests.MSTest/.vs
/csc13001-plant-pos-frontend.Core/.vs
/csc13001-plant-pos-frontend.Core/bin
/csc13001-plant-pos-frontend.Core/obj
/csc13001-plant-pos-frontend/.vs
/csc13001-plant-pos-frontend/bin
/csc13001-plant-pos-frontend/obj
/backend/target
/frontend/csc13001-plant-pos/.vs
/frontend/csc13001-plant-pos/csc13001-plant-pos/obj
/frontend/csc13001-plant-pos/csc13001-plant-pos/bin
# Backend sensitive files
backend/src/main/resources/application.properties
backend/hs_err_pid*.log
backend/replay_pid*.log

# Frontend sensitive files
frontend/csc13001-plant-pos/csc13001-plant-pos/appsettings.json
