
/csc13001-plant-pos/.vs
/csc13001-plant-pos.Tests.MSTest/obj
/csc13001-plant-pos/bin
/csc13001-plant-pos.Core/bin
/csc13001-plant-pos.Core/obj
/csc13001-plant-pos/obj
/csc13001-plant-pos.Tests.MSTest/bin
